button:disabled{
    cursor:not-allowed
}

.date-wrapper{
    position: relative;

    mat-datepicker-toggle{
        position: absolute;
        right:0;
        top:0;
    }
}

.close{
    cursor: pointer;
}