<h4>Add user</h4>
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
  <span class="close" (click)="cleanMessage()" data-dismiss="alert" aria-label="close">&times;</span>
</div>
<form [formGroup]="form" (ngSubmit)="saveUser()">
  <div class="form-check">
    <input formControlName="isActive" type="checkbox" class="form-check-input" id="isActive" name="isActive" />
    <label class="form-check-label" for="isActive">Active</label>
  </div>

  <div class="row">
    <div class="form-group col-6">
      <label for="username">Username*</label>
      <input formControlName="username" class="form-control" id="username" />
      <ng-container *ngIf="username.invalid && (username.dirty || username.touched)">
        <small *ngIf="username.errors.required" class="form-text text-danger">Username is required</small>
        <small *ngIf="username.errors.minlength" class="form-text text-danger">Min length is 2</small>
        <small *ngIf="username.errors.maxlength" class="form-text text-danger">Max length is 20</small>
        <small *ngIf="username.errors.usernameUniquenes" class="form-text text-danger">This username exist</small>
      </ng-container>
    </div>
    <div class="form-group col-6">
      <label for="email">E-mail*</label>
      <input formControlName="email" type="email" class="form-control" id="email" />
      <small *ngIf="email.invalid && (email.dirty || email.touched)" class="form-text text-danger"
        >E-mail is required and should be correct</small
      >
    </div>
  </div>

  <div class="row">
    <div class="form-group col-6">
      <label for="title">Title*</label>
      <select formControlName="title" class="form-control" id="title">
        <option *ngFor="let value of titleValues" [value]="value">{{ value }}</option>
      </select>
      <small *ngIf="title.invalid && (title.dirty || title.touched)" class="form-text text-danger">Title is required</small>
    </div>
    <div class="form-group col-6">
      <label for="birthday">Birthday</label>
      <div class="date-wrapper">
        <input formControlName="birthday" type="email" class="form-control" id="birthday" [matDatepicker]="birthdayDatepicker" />
        <mat-datepicker-toggle matSuffix [for]="birthdayDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #birthdayDatepicker></mat-datepicker>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-6">
      <label for="firstName">First name*</label>
      <input formControlName="firstName" class="form-control" id="firstName" />
      <small *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="form-text text-danger"
        >First name is required</small
      >
    </div>

    <div class="form-group col-6">
      <label for="lastName">Last name*</label>

      <input formControlName="lastName" class="form-control" id="lastName" />
      <small *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="form-text text-danger">Last name is required</small>
    </div>
  </div>
  <small class="form-text">*- required</small>

  <div class="d-flex justify-content-end">
    <button class="btn btn-outline-dark m-1" matDialogClose>Cancel</button>
    <button type="submit" class="btn btn-primary m-1" [disabled]="!form.valid">Save</button>
  </div>
</form>
