<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-success add-button mb-4 mt-1 mr-1" (click)="openAddDialog()"><span>+</span> Add</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Active</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col" class="text-right"><span>Account balance</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async; index as i">
      <td scope="row">{{ i + 1 }}</td>
      <td>
        <i *ngIf="user.isActive" class="fas fa-check "></i>
      </td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.title }} {{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.birthday | age }}</td>
      <td class="text-right">
        <fd2-display-currency [value]="user.account.balance" [currency]="user.account.currency"></fd2-display-currency>
      </td>
    </tr>
  </tbody>
</table>
