.add-button{
    position: relative;
    padding-left: 32px;

    span{
        position: absolute;
        left: 7px;
        font-size: 35px;
        top: 0;
        display: inline;
        line-height: 28px;
    }
}